body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #292F33;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#top-block-wrapper {
    background-image: url('/Content/Images/Surface4-dark.jpg');
    background-repeat: no-repeat;
    background-color: black;
    -moz-background-position-y: center;
    -o-background-position-y: center;
    background-position-y: center;
    color: white;
}

#top-block {
    width: 100px;
    height: 100px;
    background-color: black;
    display: block;
}

.navbar {
    background-color: #4a525c;
}

#features {
}

.full-view {
    text-align: center;
}

    .full-view .artwork-container {
        display: inline-block;
        padding: 8px;
        margin: 8px;
        color: white;
        background-color: #4a525c;
    }

.gallery .artwork-container {
    display: inline-block;
    text-align: center;
    float: left;
    padding: 8px;
    margin: 8px;
    color: white;
    background-color: #4a525c;

    height: 245px;
}

    .gallery .artwork-container .title {
        /*font-size: 18px;*/
        max-width: 150px;
        -moz-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #f1dd79;
        margin-top: 8px;
    }

.gallery .artwork-container a {
        color: white;
    }

    .gallery .artwork-container .image-container {
        height: 150px;
        width: 150px;
        background-color: #4a525c;
    }

    .gallery .artwork-container img {
        max-width: 150px;
        max-height: 150px;
    }

.artwork-title {
    color: #d58512;
}
.artwork-header {
    text-align: center;
}

a {
    color: #FAB81E;
    text-decoration: none;
}

.back-link {
}

    .back-link a {
        display: block;
        background-image: url('/Content/Images/Reply-WF.png');
        background-repeat: no-repeat;
        padding-left: 64px;
        padding-top: 8px;
        height: 64px;
        vertical-align: middle;
        color: white;
        font-size: 20px;
        text-decoration: underline;
    }
